@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --font-one:"Libre Baskerville", serif;
  --font-two:"Mulish", serif;
  --font-size-button: 1.058rem;
  --color-one: rgb(250,143,45);
  --text-white: #FFFEFE;
  --color-box: #0F1C20;
  --color-p:#DDDDDC;
}
.bg-color-box{
  background-color: var(--color-box);
}
.bg-color-one{
  background-color: var(--color-one);
}
.font-one{
  font-family: var(--font-one);
}
.font-two{
  font-family: var(--font-two);
}
.font-size-button{
  font-size: var(--font-size-button);
}
.color-one{
  color: var(--color-one);
}
.color-p{
  color: var(--color-p);
}
body{
  background-color: #0A1314;
}

.button:hover{
  background-color: var(--text-white);
}

/* hone */
main .home{
  height: 80dvh;
  background-image: url("/images/home_bg_pic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* main index page */
main .home::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.572);
  z-index: 1;
}

/* home project article page */
.reservation{
  background-image: url("/images/reserve_bg_pic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.reservation::before{
  content: "";
  background-color: #000000c6;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
  z-index: 1;
}
/* footer */
.container .contact a:hover{
  color: red;
}















